# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
.nuxt
dist
.output

# Sumber daya sementara
.DS_Store
*.log
*.tmp

# File lingkungan
.env
.env.local
.env.development
.env.production
.env.test

# File dan direktori yang dihasilkan
coverage/
*.tgz

# IDE dan editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
